li#manage { background-color: #757575; /* Lightgray */ }

.table>tbody>tr>td { padding: 5px; }

table {
	background-color: white;
	font-size: 1.2em;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

/*----- Delete Button Styles -----*/
.deleteForm input {
	background: none;
	border: none;
	color: #1E88E5;
}

.btn-delete { margin-bottom: 0 }
.btn-delete:hover { text-decoration: underline; }

.radio { margin-top: 0; }

.panel { padding: 20px 35px; }

label {
	top: auto;
	font-size: 14px;
	color: inherit;
	padding-right: 15px;
}

#add-button { margin-top: 25px; }

#create-header { margin-top: 0; }