body {
	background-color: #F9F9F9; /* Light Gray */
	color: #444444; /* Dark Grey */
}

input { margin-bottom: 25px; }

textarea { resize: none; }

label { 
	color: #1E88E5;
	font-weight: bold;
}

.alert { 
	margin-top: 15px;
	margin-bottom: 60px;
}

/*----- Date text font size -----*/
.date { font-size: 1.2em; }

.form-control { color: #444444; }

/*----- Menu Font Size -----*/
.navbar-nav a { font-size: 1.5em; }

.navbar {
	margin-bottom: 0;
	border: none;
}

/*----- Navbar bg color -----*/
.navbar-default { background-color: #424242; /* Dark Grey */ }

#logged-in { color: white; }

/*----- Navbar Brand -----*/
.navbar-default .navbar-brand { padding-right: 75px; }

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus { color: white; }

/*----- Navbar Brand Sliding underline -----*/
.navbar-default .navbar-brand:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.navbar-default .navbar-brand:hover:after {
	width: 100%;
	background: white;
}

/*----- Menu font color -----*/
.navbar-default .navbar-nav>li>a { color: white; }

/*----- Menu Hover color -----*/
.navbar-default .navbar-nav>li>a:hover {
	color: white;
	background-color: #757575; /* Light Gray */
}

/*----- Site header (light blue section) -----*/
.site-header {
	background: #2196F3; /* Light blue */
	padding: 10px 0;
}

/*----- Header Text -----*/
.header-text {
	text-align: center;
	padding-bottom: 35px;
	font-size: 3.6em;
	color: white;
}

/*----- Dropdown Menu -----*/
nav { height: auto; }
nav i { height: auto; }

/*----- Inactive Language Dropdown ------*/
#change-language { font-size: 1.3em }
#changeLocale:hover { 
	cursor: pointer; 
	text-decoration: underline;
}

/*-----Dropdown menu active-----*/
.navbar-default .navbar-nav>.open,
.navbar-default .navbar-nav>.open:focus,
.navbar-default .navbar-nav>.open:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	background-color: #757575; /* Light Gray */
	color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li,
.navbar-default .navbar-nav .open .dropdown-menu>li:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: white;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

.dropdown-menu>li>a { color: white; }

.dropdown-menu { background-color: #424242; /* Dark Gray */ }

/*----- Mobile menu expand bars -----*/
.navbar-default .navbar-toggle .icon-bar { background-color: white; }
.navbar-default .navbar-toggle { border-color: white; }

/* Mobile Hamburger hover */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover { background-color: #757575; /* Light Gray */ }

 /*----- Card -----*/
.panel { 
	margin-top: -45px;
	padding: 20px;
}