#header {
    position: relative;
    padding-left: 25px;
}

.bottom-left {
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 25px;
}

.well {
    padding-bottom: 45px;
}

.search-results {
    border: 1px solid lightgray;
    border-radius: 4px;
}