body {
	background: url('../images/iberian-homepage.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container-fluid .row { margin: 0; }
.no-padding { padding: 0; }

.site-header { height: 50px; }

/*----- Search icon -----*/
.search-container { position: relative; }

.glyphicon:hover { color: #2196F3; }
.glyphicon {
	color: lightgray;
	font-size: 1.7em;	
	background: none;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 15px;
}

.hero-image {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}

/*----- Overlay Styles -----*/
.overlay {
	display: none; /* Hide for fade in */
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 150px;
	text-align: center;
	padding: 10px 30px;
	border-radius: 2px;
}

/*----- Re-position overlay for small screens -----*/
@media screen and (max-width: 480px) {
    .overlay { margin-top: 10px; }
}

/*----- Overlay Text -----*/
.overlay h4 { 
	margin: 15px 0;
	color: white;
}

#advanced-search:hover { color: #DDD; }
#advanced-search {
	color: white;
	font-size: 1.3em;
	text-decoration: underline;
}

/*----- Main search input -----*/
input[type="text"].search-main {
	color: lightgray;
	border-radius: 4px;
	padding: 10px 45px 10px 30px;
	font-size: 1.5em;
	height: auto;
	box-shadow: inset 0px 0px 5px 0 #DDD;
}

input[type="text"].search-main:focus {
	box-shadow: inset 0px 0px 2px 2px #2196F3;
}

/*----- Remove placeholder text for small screens -----*/
@media screen and (max-width: 480px) {
    .form-control::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
   .form-control :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3px;
	background-color: #424242;
	color: white;
	text-align: center;
}